# vscode
.vscode

# intlsy's test files
temp.txt
tmp.txt
intlsy-test.cpp
temp.cpp

# executables
game_server
judger
map_generator
map_visualizer
naive
naive-mt


# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

