# vscode
.vscode

# intlsy's test files
temp.txt
tmp.txt
intlsy-test.cpp
temp.cpp
intlsy-test/

# executables
game_server
judger
map_generator
map_visualizer
blank_counter
template
naive
naive_mt
naive_optim
just_open_many_channels
interact
expand_with_queue
expand_with_queue_mt
simple_expand_single_thread

# maps & handout
map/
handout/
minesweeper_handout/
minesweeper_handout.zip

# output file of gperf
gmon.out

# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

